html, body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: #F9E7D2;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: #F9E7D2;
  width: 100%;
  max-width: 400px; 
  padding: 1rem; 
}

#mygames {
  text-align: center;
  font-size: 2rem; 
  font-weight: bold;
  color: #262A22;
  margin-bottom: 1.5rem; 
}

#main > button {
  display: block;
  width: 100%; /* botones ocupan el 100% del contenedor */
  max-width: 300px; 
  padding: 2.5rem; 
  border-radius: 8px;
  margin-bottom: 1rem; /*margen entre botones */
  font-size: 1.8rem; 
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2); /*sombra suave */
  border: none;
  color: rgb(241, 241, 241);
  transition: all 0.3s ease;
}

#main > button:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.05); /*se agranda */
  box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.3); /*sombra fuerte hover */
}

.nodisp {
  display: none !important;
}

#g1, #g2, #g3 {
  background: #F9E7D2;
  color: #262A22;
}

#btn-g1 {
  background-color: #F08113;
}

#btn-g1:hover {
  background-color: #a3580c;
}

#btn-g2 {
  background-color: #5A9133;
}

#btn-g2:hover {
  background-color: #3e6223;
}

#btn-g3 {
  background-color: #E94A20;
}

#btn-g3:hover {
  background-color: #a6381a;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  #mygames {
    font-size: 1.8rem; 
    margin-bottom: 1.5rem;
  }

  #main > button {
    padding: 2rem; 
    font-size: 1.6rem; 
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  #mygames {
    font-size: 1.5rem; /*reduce el tamaño del texto */
    margin-bottom: 1rem;
  }

  #main > button {
    padding: 1.8rem; 
    font-size: 1.4rem; 
    max-width: 200px; /*reduce el ancho maximo de los botones */
  }
}
