      #g1 {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
       /* min-height: 100vh; /* Asegura que ocupe toda la pantalla */
        text-align: center;
      }

      #g1 #estado {
        font-size: 1rem;
        margin: 10px 0;
        color: white;
      }

      #btn-g1-back {
        position: fixed;
        left: 10%; 
        top: 0rem;  
        font-size: 3rem;
        color: white;
        background: none;
        cursor: pointer;
        border: none;
        transition: opacity 0.3s ease;
      }   
      
      #btn-g1-back:hover {
        text-decoration: underline;
      }

      #btn-g1-back:disabled {
        cursor: not-allowed; /* mouse deshabilitado */
        opacity: 0.5; /*reduce la opacidad */
      }

      #g1 table {
        width: 80%;
        height: 10vh;
        margin: auto; /* Solo una vez */
        table-layout: fixed;
        border-spacing: 2vw;
        border-collapse: separate;
      }

      /*desactiva el icono una vez que empieza el juego */
      .game-started #btn-back {
        pointer-events: none; /*deshabilita los clicks en el icono */
        opacity: 0.5; /*baja la opacidad para mostrar que esta desactivado */
      }

      #tateti {
        font-weight: 900;
        font-size: 2.5rem;
        color: #ddd;
        user-select: none;
        width: 100%;
        margin-bottom: 1rem;

        color: #bbb;
        text-shadow:
          1px 1px 2px #666,
          -1px -1px 1px #fff,
          2px 2px 6px rgba(0,0,0,0.5);
        letter-spacing: 2px;
        text-transform: uppercase;
      }


       /* boton habilitado */
       #botonReiniciar {
        background: linear-gradient(to top, #01b443, #087405);
      /*  background-color: #5A9133;*/
        color: white;  
        border: none;
        padding: 10px 20px;  /*espaciado interno */
        text-align: center;  /*centrado*/
        text-decoration: none; /*sin subrayado */
        display: inline-block;  /*aparece como un boton en linea*/
        font-size: 16px; 
        cursor: pointer;  /*muestra el cursor de mano cuando se pasa por encima */
        border-radius: 5px; 
        margin-top: 10px;  /*margen superior para separar el boton */
      }
      
      /*boton deshabilitado */
      #botonReiniciar:disabled {
        background: linear-gradient(to top, #959595, #606060);
        color: #a0a0a0;  
        cursor: not-allowed;  
      }

      .g1 {
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
      }
      
      #g1 td {
        font-size: 2rem;  /* reduce el tamaño de la tipografia del boton en pantallas mas chicas*/
        width: 33.33%;  /*ancho fijo a cada celda*/
        /*height: 4vh; /* Altura proporcional al ancho */
        height: 50px;
        text-align: center;  /*centra el contenido dentro de las celdas */
        padding: 10px;  /*espaciado interno de las celdas */
        overflow: hidden;  /*oculta cualquier contenido que se desborde */   
        
        
        background: linear-gradient(to top, #1c1c1c, #0c0c0c);
        border: 3px solid #000;
        color: #ddd;
        font-weight: 900;
        text-shadow:
          1px 1px 2px #111,
          -1px -1px 1px #555;
        -webkit-text-stroke: 0.8px #222;
        box-shadow:
          inset 0 2px 4px rgba(255,255,255,0.1),
          0 6px 0 #000,
          0 10px 15px rgba(0,0,0,0.6);
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
        user-select: none;
      }

      #g1 td:not(.desactivado) {
       /* background-color: rgba(240, 129, 19, 0.6);  /* la opacidad del color */
        background: linear-gradient(to top, #2c2c2c, #626262);
      }
      
      #g1 .desactivado {
        cursor: not-allowed;  /*cambia el mouse cuando pasa por una celda que ya tiene contenido */
        font-weight: bold;
      }
      
      #g1 .desactivado.corazon {
       /* background-color: #502e25;  /*celdas de corazon desactivadas */
        background: linear-gradient(to top, #900000, #480000);

      }
      
      #g1 .desactivado.estrella {
        /*background-color: #b9793a;  /*celdas de estrella desactivadas */
        background: linear-gradient(to top, #7e5103, #6d4100);

      }
      
      #g1 .celda:hover {
       /* background-color: #562724;*/
        background: linear-gradient(to top, #888888, #6c6c6c);

      }
      
      /*celdas desactivadas al hacer hover */
      #g1 .desactivado:hover {
        /*background-color: #b1b1b1;*/
        background: linear-gradient(to top, #545454, #535353);

        color: #787878;
      }
      
      .celda.corazon {
       /* background-color: #5e1b09; /*color corazones */
        background: linear-gradient(to top, #880000, #6b0707);

      }
      
      .celda.estrella {
      /*  background-color: #F08113; /*color estrellas */
        background: linear-gradient(to top, #e46d0cdf, #d17504);
      }

    @media screen and (min-width: 1024px) {
      /*icono back*/
      #btn-g1-back {
        left: 10px; 
        top: 10px;
        margin-left: 6rem;
      }

      #g1 table {
        width: 50%; /* Reduce el tamaño de la tabla */
        height: auto; /* Ajusta la altura automáticamente */
        border-spacing: 1vw;
      }
    
      #g1 td {
        height: 50px; /* Reduce la altura de las celdas */
        max-height: 80px; /* Límite de altura */
        max-width: 50px; /* Límite de ancho */
      }
      
    }

    @media screen and (min-width: 480px) and (max-width: 1024px) and (orientation: landscape) {
      
      #g1 {
        display: flex;
        flex-direction: row; 
      }
      
      #g1 td {
        height: 10vw !important;
        font-size: 1.2rem !important;
        padding: 5px !important;
        max-height: 50px !important;
        max-width: 60px !important;
      }

      #tateti{
        width: 35%;
      }

      .botonyturno {
        width: 35%;
      }
    
      #g1 table {
        width: 35%;
        border-spacing: 1vw;
      }
    }